<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Preskool - Login</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/img/favicon.png">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper login-body">
        <div class="login-wrapper">
            <div class="container">
                <div class="loginbox">
                    <div class="login-left">
                        <img class="img-fluid" src="/assets/img/logo-white.png" alt="Logo">
                    </div>
                    <div class="login-right">
                        <div class="login-right-wrap">
                            <h1>Login</h1>
                            <p class="account-subtitle">Access to our dashboard</p>

                            <!-- Form -->
                            <form action="" id="loginForm">
                                <div class="form-group">
                                    <input class="form-control" type="text" id="login_form_user_name" placeholder="用户名">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="login_form_user_password" type="text"
                                        placeholder="密码">
                                </div>
                                <div class="form-group">
                                    <button class="btn" onclick="login()">Login</button>
                                </div>
                            </form>
                            <!-- /Form -->


                            <div class="login-or">
                                <span class="or-line"></span>
                                <span class="span-or">or</span>
                            </div>

                            <!-- Social Login -->
                            <div class="social-login">
                                <span>Login with</span>
                                <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a><a href="#"
                                    class="google"><i class="fab fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="/assets/js/jquery-3.5.1.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Custom JS -->
    <script src="/assets/js/script.js"></script>
    <script type="module">
        import init, { get_user } from '../../../../fast_wasm/pkg/fast_wasm.js';
        async function run_wasm() {
            await init();

        }
        run_wasm();

        async function login() {
       
            let user_name = $("#login_form_user_name").val();
            let password = $("#login_form_user_password").val();
            let login_form = {
                "user_name": user_name,
                "password": password
            }
            alert(login_form);

            await get_user(login_form).then((res) => {
                console.log(res);
                alert(1)
                console.log("Rust-Yew app initialized");
            }).catch(console.debug);
        }
login();
    </script>


</body>

</html>